<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
  <meta content="width=device-width,initial-scale=1" name="viewport"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <meta name="color-scheme" content="light"/>
</head>
<body>
<main class="container">
  <nav>
    <ul>
      <li><strong><%= link_to(Rails.root.basename.to_s.humanize, root_path) %></strong></li>
    </ul>
    <ul>
      <li><%= link_to('API Documentation', api_docs_path, target: '_blank') %></li>
      <li><%= link_to('Sidekiq', '/sidekiq', target: '_blank') %></li>
      <li><%= link_to('Admin', '/motor_admin', target: '_blank') %></li>
      <li><%= link_to('Tasks', '/maintenance_tasks', target: '_blank') %></li>
      <li><%= link_to('Logs', '/sweet/staging', target: '_blank') %></li>
      <li><%= link_to('APM', '/apm', target: '_blank') %></li>
    </ul>
  </nav>

  <%= yield %>
</main>
</body>
</html>
